@model Book

<h2>Add New Book</h2>

<form action="/Book/Create" method="post">
    <div class="form-group">
        <label for="Title">Title</label>
        <input name="Title" id="Title" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Author">Author</label>
        <input name="Author" id="Author" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Category">Category</label>
        <select name="Category" id="Category" class="form-control">
            <option value="">-- Select Category --</option>
            <option value="Novel">Novel</option>
            <option value="Science">Science</option>
            <option value="History">History</option>
            <option value="Technology">Technology</option>
        </select>
    </div>

    <div class="form-group">
        <label for="PublicationDate">Publication Date</label>
        <input type="date" name="PublicationDate" id="PublicationDate" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
</form>
